@charset "UTF-8";
/* CSS Document */
body{
	font-family:'Roboto', Arial, sans-serif;
	font-size:15px;
	background-image:url(../images/pattern.png);
	margin:0;
	padding:0;
  } 
h1, small#title{
	font-size:24px;
}
h2{
	font-size:22px;
}
h3{
	font-size:20px;
}
h4{
	font-size:18px;
}
h5{
	font-size:16px;
}
h6{
	font-size:14px;
}
h1, h2, h3 h4, h5, h6, small#title{
	color:#164e66;
	margin:0.3em 0 0.7em;
	font-family:'Oswald', sans-serif;
}
img{
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}
p{
	margin:15px;
	font-size:1em;
}
button{
	border: 0;
	cursor: pointer;  
	outline: none;
}
a:link,
a:visited{
	color:#C51417;
	text-decoration:none;
    -webkit-transition:800ms all ease; /* Chrome 4.0 and Safari 3.1 */
    -moz-transition:800ms all ease;  /* Mozilla 4.0 */
    -o-transition:800ms all ease; /* Opera 10.5 */
	transition:800ms all ease;
}
a:hover{
	color:#930A0D;
	text-decoration:underline;
    -webkit-transition:400ms all ease; /* Chrome 4.0 and Safari 3.1 */
    -moz-transition:400ms all ease;  /* Mozilla 4.0 */
    -o-transition:400ms all ease; /* Opera 10.5 */
	transition:400ms all ease;
}
a:active{
	color:#930A4D;
}
#wrapper{
	width:1200px;
	background:#FFF;
	margin:0 auto;
	padding:15px;
	-webkit-border-radius:4px; /* Chrome 4.0 and Safari 3.1 */
	-moz-border-radius:4px; /* Mozilla 3.0 */
	border-radius: 4px;
}
#header{
	background:#0648A0;
}
#header a{
	text-decoration: underline;
}
.cf::after{
	content: "";
	display: table;
	clear: both;
}
#logo{
	float:left;
	margin: 33px;
}
#slogan{
	float:right;
	font-style:italic;
	font-weight:bold;
	color:#333;
	background:#FFF;
	font-size:18px;
	margin: 19px;/*18px 18px 0;*/
	padding:0 10px;
	-webkit-border-radius:10px; /* Chrome 4.0 and Safari 3.1 */
	-moz-border-radius:10px; /* Mozilla 3.0 */
	border-radius:10px;
	text-align: center;
}
#slogan p{
	margin: 12px;
}
#loginW{
    float:right;    
    position: absolute;
    right: 90px;
    top: 100px;
}
#loginW a{
	color:#FFF;
	margin-right: 104px;
	margin-left: -35px;
}
#registration.modal,
#login.modal{width:500px!important;}
#nav{
	height:40px;
	background:#333;
	margin-top:10px;
	margin-bottom:10px;
	position: relative;
	z-index: 2;
}
#nav.spusteno{
	position:fixed;
	top:-20px;
	width:1200px;
	margin:20px auto;
}
#nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
#nav ul li{
	float:left;
	position:relative;
}
#nav ul li a{
	-webkit-transition:1s all ease; /* Chrome 4.0 and Safari 3.1 */
    -moz-transition:1s all ease; /* Mozilla 4.0 */
    -o-transition:1s all ease; /* Opera 10.5 */
	transition:1s all ease;
	display:block;
	padding:10px;
	height:20px;	
	line-height:20px;
}
#nav ul  li  a{pointer-events: none;}
#nav ul li a:link,
#nav ul li a:visited {
	color:#FFF;
	text-decoration:none;
}
#nav ul li a:hover {
	background:#C51417;
	color:#FFF;
	text-decoration:none;
}
#nav ul li a:active {
	background:#930A0D;
}
#nav ul li ul {
	background:rgba(0,0,0,0.8);
	position:absolute;
	top:100%;
	left:0;
	width:155px;
	display:none;
}
#nav ul li:hover>ul {
	display:block;
}
#nav ul li ul li {
	float:none;
}
#nav ul li ul li a {
	padding-left: 10px;
	pointer-events: all;
}
#nav ul >li>a.nav_visible{
	pointer-events: all;
}
#nav  #nav_right {
	width:93px;
	float:right;
	background: #790003;
	-webkit-animation: blink 600ms infinite alternate; /* Chrome 4.0, Safari 4.0 and Opera 15.0 */
    -moz-animation: blink 600ms infinite alternate; /* Mozilla 5.0 */
	-o-animation: blink 600ms infinite alternate; /* Opera 12.0 */
	 -ms-animation: blink 600ms infinite alternate; /* Mozilla 5.0 */
	animation: blink 600ms infinite alternate;
}
#nav  li#nav_right a button{
	width:max-content;
	position: absolute;
	top:0;
	right:0;
	background: #790003;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	-webkit-animation: blink 600ms infinite alternate; /* Chrome 4.0, Safari 4.0 and Opera 15.0 */
    -moz-animation: blink 600ms infinite alternate; /* Mozilla 5.0 */
    -o-animation: blink 600ms infinite alternate; /* Opera 12.0 */
	-ms-animation: blink 600ms infinite alternate; /* Mozilla 5.0 */
	animation: blink 600ms infinite alternate;
	cursor: pointer;
	pointer-events: all;
}

@-webkit-keyframes blink {
	0%{background:#790003;}
	25% {background: #A10408;}
	50% {background: #C51419;}
	75% {background: #E3373B;}
	100% {background: #E3373B;}
} /* Chrome 4.0, Safari 4.0 and Opera 15.0 */
@-moz-keyframes blink {
	0%{background:#790003;}
	25% {background: #A10408;}
	50% {background: #C51419;}
	75% {background: #E3373B;}
	100% {background: #E3373B;}
} /* Mozilla 5.0 */
-o-keyframes blink {
	0% {background-color: #790003;}
	25% {background-color: #A10408;}
	50% {background-color: #C51419;}
	75% {background-color: #E3373B;}
	100% {background-color: #E3373B;}
} /* Opera 12.0 */
-ms-keyframes blink {
	0% {background:#790003;}
	25% {background: #A10408;}
	50% {background: #C51419;}
	75% {background: #E3373B;}
	100% {background: #E3373B;}
} /* Opera 12.0 */
keyframes blink {
	0% {background: #790003;}
	25% {background: #A10408;}
	50% {background: #C51419;}
	75% {background: #E3373B;}
	100% {background: #E3373B;}
}
/* modal */
.modal-btn{
	display:block;
	background: right;
	padding:10px;	
	line-height:20px;
	margin: 0;
	-webkit-transition:background 500ms; /* Chrome 4.0 and Safari 3.1 */
    -moz-transition:background 500ms; /* Mozilla 4.0 */
    -o-transition:background 500ms; /* Opera 10.5 */
	transition:background 500ms;
	color:#FFF;
	text-decoration:none;
}
.modal {
    border: 1px solid #000;
	-webkit-border-radius: 10px !important; /* Chrome 4.0 and Safari 3.1 */
	-moz-border-radius: 10px !important; /* Mozilla 3.0 */
    border-radius: 10px !important;
    z-index: 10!important;
    padding: 10px 20px !important;
    width: 1000px !important;
    max-width: 95%!important;
	-webkit-box-shadow: 0px 0px 50px 5px #000 !important; /* Chrome 4.0 and Safari 3.1 */
	-moz-box-shadow: 0px 0px 50px 5px #000 !important; /* Mozilla 3.5 */
    box-shadow: 0px 0px 50px 5px #000 !important;
	background:#FFF;
}
.modal.active{
    -webkit-transition:all 500ms ease-in-out; /* Chrome 4.0 and Safari 3.1 */
    -moz-transition:all 500ms ease-in-out;  /* Mozilla 4.0 */
    -o-transition:all 500ms ease-in-out; /* Opera 10.5 */
	transition:all 500ms ease-in-out;
	}
.modal#business_modal{
	width:600px!important;
	max-width:600px!important;
}
.modal_heading{
	padding:10px 15px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	text-align:center;
	background: #0B60D4;
	border-bottom: 2px solid #EEE;
}
.modal_heading h2{
	color: #FFF;
	font-size: 25px;
	font-weight:bold;
	margin: 0 auto;
	text-decoration: none;
}
.modal .close_btn{
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	border:none;
	outline:none;
	background-color:#0B60D4;
	color:#FFF;
	font-size: 25px;
	font-weight:bold;
	-webkit-transition:background 500ms; /* Chrome 4.0 and Safari 3.1 */
    -moz-transition:background 500ms;  /* Mozilla 4.0 */
	transition:background 500ms;
}
.modal a.close-modal{
	background-image:none!important;
}
.modal .close_btn:hover{
	background-color: #07459C;
	cursor: pointer;
	-webkit-transition:400ms all ease; /* Chrome 4.0 and Safari 3.1 */
    -moz-transition:400ms all ease; /* Mozilla 4.0 */
	transition:400ms all ease;
}
.modal .close_btn:active {
	background-color: #053679;
}
.modal-body{background:#FFF;}
.blocker {z-index:2!important;top:-5px;}
#intro{
	float: left;
	width: 50%;

}
#ad{
	float: right;
	width: 50%;
	height: auto;
}
.sign{
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	text-align: center;
	color: rgb(188, 164, 116);
	font-weight: bold;
}


/* Icons ---------------------------------- */
.form .form-control{
	position: relative;
	height:auto;
}
.form .form-control label{
	display: inline-block;
	margin-left: 2%;
	position: absolute;
}
form .form-control input,
form .form-control .message{
	width: 96%;
	margin: 0 2%;
	display: block;
	opacity:0.9;
	font-weight:400;
	font-family: inherit;
	font-size: 20px;
	-webkit-border-radius:4px; /* Chrome 4.0 and Safari 3.1 */
	-moz-border-radius:4px; /* Mozilla 3.0 */
	border-radius:4px;
	line-height: 22px;
	background-color: #fbfbfb;
    border: 2px solid #AAA!important;
	margin-bottom: 0px;
	-webkit-box-sizing: border-box; /* Chrome 4.0 and Safari 3.2 */
	-moz-box-sizing: border-box; /* Mozilla 2.0 */
	box-sizing: border-box;
	position: relative;
	resize: none;
	outline: none;
	color: #AAA;
	transition: .3s;
	padding: 15px 15px 15px 70px;
}
.form-control.single{
	display: inline-block;
	width: 100%;
}

.form .comment-text-area {
	float: right;
    width: calc(100% - 10px);
	height: auto; 
}
.form .textinput, form .textarea.textinput.message {
  	width: 96%;
	min-height: 35px;
	transition: .3s;
	outline: none;
	font-size: 20px;

}
.form .halb{
	display: block;
	width: 49%;
	margin-left: 1%;
	float: left;
	box-sizing: border-box;
	z-index: 10;
}

.form .halb:nth-of-type(2n){
	margin:0;
}
.form .form-control input:focus,
.form .form-control textarea:focus{
	border: 2px solid #0B60D4 !important;
	box-shadow: 0 0 8px 0 #0B60D4;
	outline:none !important;
	color: #0B60D4;
}

.form-control i{
	position: absolute;
	left: 11px;
    top: 2px;
	font-size: 20px;
	color:#AAA;
	padding: 9px 8px;
	transition: .3s;
}
.form-control.InputIconBg i {
    background-color: #aaa;
    color: #FFF;
    padding: 16px 23px;
}
.form-control.InputIconBg i.fas.fa-phone-alt {
    padding: 16px 22px;
}
.form-control.InputIconBg i.contact_icon.fas.fa-user {
    padding: 16px 24px;
}
.form-control.InputIconBg i.contact_icon {
    padding: 16px 22px;
}
.form-control i.contact_icon.fas.fa-pencil-alt {
    padding: 93px 22px;
}
.form-control.InputIconBg i.owner_icon {
	margin-left: 10px;
	padding: 16px 21px;
}
.form-control i.owner_icon.fas.fa-pencil-alt {
    padding: 93px 21px;
}
.form-control input:focus + i,
.form-control textarea:focus + i{color: #0B60D4;}
.form-control.InputIconBg input:focus + i,
.form-control.InputIconBg textarea:focus + i{
	background-color: #0B60D4;
	color: #FFF;
}
.form input[type="submit"]{
	background: #0B60D4;
	border: 2px solid #0B60D4;
	color:#FFF;
	padding:10px;
	-webkit-border-radius:10px; /* Chrome 4.0 and Safari 3.1 */
	-moz-border-radius:10px; /* Mozilla 3.0 */
	border-radius:10px;
	margin-top:15px;
	width: 96%;
	margin: 10px auto 0;
	cursor: pointer;
	border: none !important;
	outline:none;
	opacity: 0.9;
    display: block;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
}
.form input[type="submit"]:hover {
	background: #043981;
	border: 2px solid #043981;
}
.form input[type="submit"]:active {
	background: #032B62;
	border: 2px solid #032B62;
}
#submit_register, #submit_login {
    font-size: 16px;
    letter-spacing: 1px;
}
#submit_login{
	display: inherit;
	width:92%;
	text-align: center;
}
#submit_register{
	width: 30%;
    float: right;
    margin: 10px 32px 0px;
}
#centerRegister{
	margin: 15px 0 5px;
    text-align: center;
}
#leftLogin{
	float:left;
	margin-top: 18px;
    margin-bottom: 0;
}
.form fieldset{
	padding-bottom: 0;
}
.error, .errorJS{
	color: #e74c3c;
	font-weight: bold;
}
.error{margin-left:2%;}
.errorJS{text-align:center;}
.success{
	color:#a2d838;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	margin:2px;
	padding:5px;
}
#respmenu {
	display:none;
	color:#FFF;
	text-decoration:none;
	background:rgba(0,0,0,0.30);
	padding:20px;
}
#main {
	width:865px;
	padding-right:15px;
	background:#FFF;
	float:left;
	margin-bottom:10px;
}
#main h1 {
	background:#0658C5;
	color:#FFF;
	text-transform:uppercase;
	padding:2px 0;
	margin:0px 200px;
	text-align:center;
}
#main small#title{
	color:#FFF;
}
#main h2 {
	color:#0658C5;
	text-decoration:underline;
	text-align:center;
	margin: 5px 0;
}
#main p {
	margin: 10px 0;
}
#main p.no_margin{
	margin-bottom: 0;
}
p.important{
	font-style: italic; 
	margin: 0 0 5px;
	padding-left: 30px;
}
#main .pregled{
	font-style: italic;
	color:#C51417;
	text-align: right;
	margin: 0 50px 0 0;
}
.accomodation #main,
.accomodation #sidebar{
	width: 1200px;
	padding: 0;
}
.accomodation #main{
	margin: 5px 0 0;
}
.accomodation  #p_left{
	float: left;
	width: 881px;
	padding-right: 15px;
}
.accomodation #main h2{
	font-size: 29px;
	margin: -16px auto 0;
	clear: both;
	padding-left: 338px;
}
#exchangeRates{
	float: right;
	width: 300px; 
	height: 250px;
	border: 2px solid #717171;
	-webkit-box-sizing:border-box; /* Chrome 4.0 and Safari 3.2 */
	-moz-box-sizing:border-box; /* Mozilla 2.0 */
	box-sizing:border-box;
	margin-bottom: 15px;
}
.accomodation #sidebar{
	margin-bottom: 15px;
	background: #FFF;
}
.text{
	padding-left: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
.products{
	margin-bottom: 6px;
	clear: both;
}
.product, .offer {
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box; /* Chrome 4.0 and Safari 3.2 */
	-moz-box-sizing: border-box; /* Mozilla 2.0 */
	box-sizing: border-box;
	overflow: hidden;
}
.product{
	border: 3px solid #717171;
	width: 288px;
}
.accomodation #main .product .text h2 {
	color: #FFF;
	font-size:32px;
	position:absolute;
	margin:0;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%); /* Chrome 4.0, Safari 3.2 and Opera 15.0 */
	-moz-transform:translate(-50%,-50%);  /* Mozilla 3.5 */
	-ms-transform:translate(-50%,-50%); /* IE 9 */
	-o-transform:translate(-50%,-50%); /* opera 10.5 */
	transform:translate(-50%,-50%);
	padding-left: 0;
	text-decoration: none;
}
.product:hover a h2{
	display: inline;
	-webkit-transform-origin:center; /* Chrome 4.0, Safari 3.2 and Opera 10.5 */
	-moz-transform-origin:center; /* Mozilla 3.5 */
	-ms-transform-origin:center; /* IE 9 */
	-o-transform-origin:center; /* opera version 10.5 */
	transform-origin: center;
}
.product img:hover{
	-webkit-transform:scale(1.02); /* Chrome 4.0, Safari 3.2 and Opera 15.0 */
	-moz-transform:scale(1.02); /* Mozilla 3.5 */
	-ms-transform:scale(1,02); /* IE 9 */
	-o-transform:scale(1.02); /* opera 10.5 */
	transform: scale(1.02); 
    -webkit-transition:all ease 0.3s; /* Chrome 4.0 and Safari 3.1 */
    -moz-transition:all ease 0.3s;  /* Mozilla 4.0 */
    -o-transition:all ease 0.3s; /* Opera 10.5 */
	transition: all ease 0.3s;
}
.offers{
	overflow: hidden;
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
}
.offer{
	border: 3px solid #0658C5;
	margin: 0 2% 0 0;
	width: 23.5%;
	vertical-align: middle;
	box-sizing: border-box;
}
.offer:nth-of-type(4n){
	margin-right: 0;
}

.offer a span{
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	
}
.offer a:link span,
.offer a:visited span{
	color: #FFF;
	background: #0658C5;
	border-bottom: 5px solid #043981;	
}
.offer a:hover span{
	background: #A2631D;
	border-bottom: 5px solid #532C00;
	border-collapse: collapse;
	text-decoration: none;
	}
.offer a:active span{
	background: #532C00;
}
.accomodation #main .offer h2{
	display: inline;
	margin: 0;
	padding: 0;
	color: #FFF;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto', Arial, sans-serif;
	
}
.offer a:hover:after{
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: rgba(0, 0, 0, .5);
	content: "Rezervišite sada";
	color: #FFF;
	font-size: 30px;
	margin: auto;
	padding: 96px 0;
}
.offer a{
	text-decoration: none;
}
.lSSlideOuter .lSPager.lSpg > li,
li.item-a::marker {
    display: none!important;
}
.central{
	letter-spacing: -1px;
	text-align: center;
	overflow: hidden;
}
.imgCentral{
	width: 199px;
	height: 124px;
	float:left;
	display: inline-block;
	margin:15px 15px 0 0;
	border:3px solid #717171;
}
a:nth-of-type(4n) .imgCentral{
	margin-right: 0;
}
#contact{
	display: block;
}
.map {
	display: block!important;
	width:100%;
	border:3px solid #6C6C6C;
	-webkit-box-sizing: border-box; /* Chrome 4.0 and Safari 3.2 */
	-moz-box-sizing: border-box; /* Mozilla 2.0 */
	box-sizing: border-box;
}
#map_matic{
	height: 300px;
}
#map_mampas{
	height: 341px;
}
#map_brod{
	height: 394px;
}
.video {
	width:100%;
	height:359px;
	margin: 15px 0 0;
	border:3px solid #6C6C6C;
	-webkit-box-sizing: border-box; /* Chrome 4.0 and Safari 3.2 */
	-moz-box-sizing: border-box; /* Mozilla 2.0 */
	box-sizing: border-box;
}
#brod_video{
	height: 394px;
}
#main #request {
	margin-top:15px!important;
	background-color: red;}
#main #request h2{color:#FFF;}
#main .modal-body{background:#0B60D4;}
#sidebar {
	width:300px;
	background:#F1F5C9;
	float:right;
	padding:10px 10px 0;
	margin-bottom: 10px;
}
#sidebar h2{
	color:#3939B3;
	text-align:center;
	margin:0;
	text-decoration:underline;
}
.weatherwidget-io {
    margin-bottom: 0px;
	pointer-events: none;
	z-index:1;
}
#contact {
	border-collapse: collapse;
	border: 2px solid #717171;
	border-right: 3px solid #717171;
	width: auto;
	margin:0 auto;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Chrome 4.0 and Safari 3.2 */
	-moz-box-sizing: border-box; /* Mozilla 2.0 */
	box-sizing: border-box;
}
table,
thead,
tbody,
tfoot,
tr {
  display: block;
}
tr {
  display: table;
  table-layout: fixed;
  width:100%;
}
#contact h3{
	font-size: 18px;
	margin: 0;
}
#contact td{
		border:1px solid #717171;
		padding:7px;
		background-color:#F8F8EF;
	}
#contact td[colspan="2"] {
	margin: 0;
}
#contact th {
		border:1px solid #717171;
		padding:10px 0;
		background-color:#908F8F;
	}
#website a:link,
#website a:visited{
	color: #FFF;
	text-decoration: underline;
}
#website a:hover{
	color: #000;
}
#website a:active{
	color: #373737;
}
.table_information{
	width:30%;
	font-weight: bold;
}
#price {
	background: #e84e1b;
	color: #FFF;
	border: 1px solid #e84e1b;
	margin: 0px 0 8px;
}
#question {
    border:0;
    color:#FFF;
	background: #0B60D4;
	margin:8px auto 0;
	width: 100%;
	text-decoration:underline;
}	
#question, #price {
	font-size: 16px;
	-webkit-border-radius:5px; /* Chrome 4.0 and Safari 3.1 */
	-moz-border-radius:5px; /* Mozilla 3.0 */
    border-radius:5px;
    letter-spacing:1px;
    line-height:1;
   	padding:17px;
	text-align: center;
	display: block;
	outline: none;
}
#question:hover  {
	background-color:#043981;
	color:#fff;
}
#question:active {
	background-color: #032B62;
	color: #FFF;
}
.request{
	background-color: #0B60D4;
	margin: 0;
	border: 0;
	color:#FFF;
	font-size:16px;
	text-decoration: underline;
}
.request p{
	padding:0;

}
#contact .sendQuestion{
	color: #FFF;
}
.imgRight {
	display:block;
	width: 294px;
	margin:10px 0;
	border:3px solid #717171;
}
.disable{
	display: none;
}
.imgLeft {
	float:left;
	margin-right:40px;
	margin-left:15px;
	border:3px solid #717171;
}
#footer {
	text-align:center;
	color:#FFF;
	padding:10px;
	background:#333;
	clear:both;
}
#footer p {
	margin:0;
}
.footer_comma{
	display: none;
}
::-moz-selection {
	color: #FFF;
	background: #F39800;
}
::selection {
	color: #FFF;
	background: #F39800;
}