fonts/
images/
gallery/
galleryAsside/
lightbox2/
lightslider/
core/ 
classes/DB.class.php
classes/Connect.class.php
classes/ConnectSlider.class.php
classes/ConnectGallery.class.php
classes/ConnectGalleryAsside.class.php
classes/Cookie.php
classes/Hash.class.php
classes/User.class.php
classes/Token.class.php
classes/Session.class.php
classes/test.php
functions/
soldo.php
.htaccess
inc/PHPMailer/
inc/_notes/